
// form sections - navigate between
.upload-art__section--active{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 80px;
}

.upload-art__section--inactive {
  display: none
}


// form progress bar 

.upload-art__navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

  .upload-art__navigation-progress{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 20px 0px;

  .navigation-progress{
  border-radius: 1px;
  border: 1px solid black;
  padding: 5px;
  width: 100%;

  }

  .navigation-progress--active{
  border-radius: 1px;
  background-color: black;
  border: 1px solid black;
  padding: 5px;
  width: 100%;

  }


  
  }

// text input

.text-input{
padding: 30px 10px 10px 10px;
border: 1px solid lightgrey;
margin-bottom: 10px;

}

.text-input__label{
position: relative;

span{
position: absolute;
bottom: 40px;
left: 10px;
}

}

// text area

.text-area__label{
position: relative;

span{
position: absolute;
bottom: 70px;
left: 10px;
}

}

// Dropdown 

.select-input{
display: flex;
flex-direction: column;
margin-bottom: 10px;

  // the button of select input
  .select-input__button--active{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid lightgrey;
  }

  .select-input__button--inactive{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid grey;
  
  }


  .select-input__details{
  display: flex;
  flex-direction: column;
  gap: 6px;

   .select-input__value--active{
    margin: 0px;
    font-size: 14px;

   }
  .select-input__value--inactive {
   color: white;
   margin: 0px;
   font-size: 14px;
  }
}  

  .select-input__options--active{
  display: flex;
  border: 1px solid grey;
  margin: 10px 0px;

  ul{
    margin: 0;
    padding: 0;
    width: 100%;

  .select-input__option--active{
  background-color: #f4f4f4;
  padding: 16px 20px;
  margin: 0;
  }

  .select-input__option--inactive{
  
  padding: 16px 20px;
  margin: 0;
  }
  
  }
  
  }

  .select-input__options--inactive{
  display: none;
  }

}

.image-placeholder{
  width: 100%;
  margin-bottom: 10px;
  img{
  width: 100%;
  height: auto;

  }
}

.hide{
  display: none;
}

// .TheHeader{
//   background-color: gray;
//     }
  
//   .tabColour{
//   background-color: white;  
//   }
  
//   .Art-feed-inputs-container{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   gap: 12px;
//   }
  
//   .Inputs{
//   height: 30px;
//   width: 361px;  
//   }
  
//   .text-areas{
//     height: 66px;
//   width: 360px; 
//   }
  
//   .Select{
//   height: 56px;
//   width: 373px;  
//   }
  
//   .preview-button{
//   background-color: white;
//   height: 41px;
//   width: 288px;
  
  
//   }
  
//   .preview-button:active{
//   background-color: gray;  
//   }
  
//   .publish-button{
//     background-color: #023047;
//     color: white;
//     height: 41px;
//     width: 288px;
    
//     }
  
//     .publish-button:active{
//       background-color: #bde0fe;
//     }
  
  
//   .image{
//     border: 1px solid black;
//     height: 191px;
//     width: 361px;
//   }