
.TheHeader{
background-color: gray;
  }

.tabColour{
background-color: white;  
}

.Artfeedinputscontainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 12px;
}

.Inputs{
height: 30px;
width: 361px;  
}

.textareas{
  height: 66px;
width: 360px; 
}

.Select{
height: 56px;
width: 373px;  
}

.whitebutton{
background-color: white;
height: 41px;
width: 288px;


}

.whitebutton:active{
background-color: gray;  
}

.naveybutton{
  background-color: #023047;
  color: white;
  height: 41px;
  width: 288px;
  
  }

  .naveybutton:active{
    background-color: #bde0fe;
  }


.image{
  border: 1px solid black;
  height: 191px;
  width: 361px;
}