// manully adding btn-outline styling to div

.form__upload-art{
background-color: white;
padding-top: 10px;
margin-bottom: 90px;
}
// form sections - navigate between
.upload-art__section--active{
  display: flex;
  flex-direction: column;
  padding: 10px 20px; 
}

.upload-art__section--inactive {
  display: none
}

// form progress bar 

.upload-art__navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  
  button{
  width: 100%;
  }
}

// Dropdown 

.select-input{
display: flex;
flex-direction: column;
margin-bottom: 10px;

  // the button of select input
  .select-input__btn--active{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #717171;
  padding: 10px 20px;
  }

  .select-input__btn--inactive{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #606060;
  padding: 10px 20px;
  
  }

  .select-input__details{
  display: flex;
  flex-direction: column;
  gap: 6px;
  
  .select-input__label{
  
  span{
  font-family: 'Roboto', Arial, sans-serif;
    color: #2A2A2A;
    font-size: .9rem;
    font-weight: 500;
  }
  }

   .select-input__value--active{
    margin: 0px;
    font-size: 14px;

   }
  .select-input__value--inactive {
   color: white;
   margin: 0px;
   font-size: 14px;
  }
}  

  .select-input__options--active{
  display: flex;
  border: 1px solid #717171;
  margin: 10px 0px;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

  .select-input__option--active{
  background-color: #f4f4f4;
  padding: 16px 20px;
  margin: 0;
  }

  .select-input__option--inactive{
  
  padding: 16px 20px;
  margin: 0;
  }
  
  }
  
  }

  .select-input__options--inactive{
  display: none;
  }

}

.image-placeholder{
  width: 100%;
  margin-bottom: 10px;
  min-height: 257px;
  background-color: #EEEEEE;
  margin: 10px 0px;
  border: #2A2A2A solid 1px;

  img{
  width: 100%;
  height: auto;

  }
}

.hide{
  display: none;
}

