// Items to be added into forms if we have time: btn-icon
// pre loading current data.

.edit-profile{
    height:100vh;
    width: 100%;
    background-color: #f4f4f4;
}

.form-profile__edit {
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
    background-color: #FDFDFD;

     @media (min-width: 600px) {
    margin: auto;
    max-width: 550px;
     }
   
    button {
     padding: 16px 20px;
     margin: 5px 0;
    }
   }