// Items to be added into forms if we have time: btn-icon
// pre loading current data.

.edit-listing{
    
    
@media (min-width: 599px) {
    margin: auto;
        max-width: 450px;
    }
}

.form-listing__edit {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin-bottom: 100px;
    background-color: #FDFDFD;

    // h4{
    //     line-height:2.5;
    // }
   
    button {
     padding: 16px 20px;
     margin: 5px 0;
    }
   }