.nav__footer {
 position: fixed;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 justify-content: center;
 align-items: center;
 text-align: center;
 bottom: 0px;
 width: 100vw;
 background: #FDFDFD;



 .btn-nav {
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.4rem;
  color: #2A2E45;
  padding: 20px 10px;
  text-decoration: none;


  p {
   font-family: 'Roboto', Arial, sans-serif;
   color: #2A2E45;
   font-size: 0.8rem;
   font-weight: 400;
   text-align: center;
   margin: 0 auto;
   padding: 4px;
  }
 }

 .btn-nav--active {
  background-color: #f4f4f4;

 }

}