.nav-profile{
  background-color: #FDFDFD;
  height: 100%;

 @media (min-width: 600px) {
   width: 360px;
  }

 .profile__details {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 10px;
 }

 .nav-btn__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 4px;
  border-bottom: 2px solid #f4f4f4;
  border-top: 2px solid #f4f4f4;
 }

 .nav-btn__profile--active{
 background-color: #f4f4f4;
 }

}