.nav-profile{

 @media (min-width: 600px) {
   width: 360px;
  }

 .profile__details {
  padding: 30px;
 }

 .nav-btn__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
 }

 .nav-btn__profile--active{
 background-color: #f4f4f4;
 }

}