.about-content{
 margin-bottom: 100px;


.about-container{
padding: 20px;
background-color: #FDFDFD;
margin-bottom: 20px;

h2{
 padding-bottom: 10px;
}

 h3{
 padding-bottom: 10px;
 }

  p{
  padding-bottom: 10px;
  }
}
}