.access-page{

@media (min-width: 599px) {
  display: grid;
   grid-template-columns: 1fr 1fr;
   height: 100vh;
   background-color: #FDFDFD;
 }


.access-desktop{
 background-image: url("https://media.istockphoto.com/id/1134512518/photo/abstract-hand-painted-art-background-on-canvas.jpg?b=1&s=612x612&w=0&k=20&c=UfkeC1cZHV-jAB1pUEg5zdr_0wMv32eZWDbPTQn6748=");
 background-repeat: no-repeat;
 background-size: cover;

 @media (max-width: 599px) {
   display: none;
  }
}
}
.access-container{
 margin-bottom: 100px;

  @media (min-width: 599px) {
   margin-bottom: 0
   }

.access__header{
 display: flex;
 justify-content: flex-end;

 .btn--icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
 }

}


.access__nav{
 display: grid;
 grid-template-columns: 1fr 1fr;

 .btn-access{
  padding: 16px 20px;
 }
}

.btn-access{
 display: flex;
 justify-content: center;
 text-decoration: none;
}

.btn-access--active{
 background-color: #FDFDFD;
  

}

.btn-access--inactive {
 background-color: #f4f4f4;

}


.other-access-options {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 5% 10%;
 background-color: #FDFDFD;

 @media (min-width: 599px) {
   margin: auto;
   max-width: 85%;
  }

}
}