// lsiting details scss

.listing-details{
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 100px;


  @media (min-width: 599px) {
    margin: auto;
    grid-template-columns: 3fr 2fr;
    max-width: 1400px;
    background-color: #FDFDFD;
    margin-bottom: 0px;
    }

.listing-details__img{
 display: flex;
 height: 420px;
 width: 100%;
 background-color: #f4f4f4;

@media (min-width: 599px) {
   height: 88vh;
   
  }
}

.listing-details__info{
 background-color: #f4f4f4;;

  @media (min-width: 599px) {
  background-color: #FDFDFD;
  padding: 5%;
  }
 

.listing-details__container{
 display: flex;
 flex-direction: column;
 background-color: #FDFDFD;
 padding: 20px;
 margin-bottom: 5px;
 gap: 10px;


}
// removes the gaps on the buttons
.listing-details__buttons{
  gap: 0px;
}

// Comments scss

.listing-details__comments{

  .form__header{
  @media (min-width: 599px) {
      margin: 0;
    }
  
  }
 
  .form--add-comments {
   display: flex;
   justify-content: space-between;
   background-color: #FDFDFD;
   padding: 20px;
   gap: 10px;

   .text-input{
    position: relative;
    width: fill;
    padding: 30px 10px 10px 10px;
    font-family: sans-serif;
   }

   .text-input__label{
    position: absolute;
    transform: translate(10px, 10px);
  }
    button {  
     margin-top: 0;
     margin-bottom: 10px;
     padding: 10px;
    }
  }
}

  .text-error{
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #FDFDFD;
  }
}
}