.listing-card__gird {
 display: grid;
 grid-template-columns: 1fr;
 grid-gap: 10px;
 margin-bottom: 80px;
 padding: 15px 10px;
 background-color: #FDFDFD;

 @media (min-width: 599px) {
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
 }
}

.search__page{

 .search__header{
 padding: 10px 15px;
 background-color: #FDFDFD;
 border-bottom: #f4f4f4 1px solid;
 border-top: #f4f4f4 1px solid;
 margin-bottom: 20px;
 }
}

