

.accordion{
 display: flex;
 flex-direction: column;
 padding: 0px 20px;
 background-color: white;
 margin-bottom: 5px;

 .accordion__header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 0px;
 }

 .accordion__content{
 }
  .accordion__content--inactive {
   display: none;
   
  }

}



