//----------- Order of Styles -----------\\


// 1. Globals
// 2. Colours
// 3. Typography
// 4. Links
// 5. Buttons
// 6. Text Inputs + Forms –– Spenny to do  
// 7: Additional multi-use components – accordian etc


///----------- GLOBALS -----------\\\

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

// mobile sizing
.app-wrapper {
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100vh;

 // width: 340px; 
 // width:100vw;
 //gap 5px;
}


///----------- COLOUR PALETTE -----------\\\


//-- PRIMARY COLORS NAVY --\\
// primary #2A2E45
// primary-hover #3F4358
// bkgd-active #f4f4f4

//-- TONES --\\
// black #2A2A2A
// white #FDFDFD
// grey-dark #606060 
// grey-dark-hover #959595

// Do not mix Primary and secondary colours within elements (buttons etc). 
// When in doubt, stick to the primary palette and tones.

//-- SECONDARY COLORS OLIVE --\\
// secondary #696755
// secondary-hover #7C7A64
// secondary-bkgd-active #C9C7BB


///----------- TYPOGRAPHY -----------\\\


// MAIN FONT 
// font-family: 'Roboto', Arial, sans-serif;
// Weights = Light 300 / Regular 400 / Medium 500 / Black 900

// LOGO FONT ONLY
// font-family: 'Roboto Slab', Times, serif;
// Weights = Thin 100 / Light 300 / Black 900


h1 {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2A2A;
 font-size: 1.5rem;
 font-weight: 400;
}

h2 {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2A2A;
 font-size: 1.3rem;
 font-weight: 500;
}

h3 {
 font-family: 'Roboto', Arial, sans-serif;
 color: #606060;
 font-size: 1.1rem;
 font-weight: 400;
}

h4 {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2A2A;
 font-size: 1rem;
 font-weight: 500;
}

//---- H5 = LOGO ONLY USE !!-----\\
h5 {
 font-family: 'Roboto Slab', Times, serif;
 color: #2A2A2A;
 font-size: 2rem;
 font-weight: 300;
}

h6 {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2A2A;
 font-size: .9rem;
 font-weight: 500;
}


p {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2A2A;
 font-size: 1rem;
 font-weight: 400;
}


///----------- LINKS -----------\\\


// Used in FOOTER NAV 
.nav__footer p:active {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2E45;
 font-size: 0.8rem;
 font-weight: 400;
 text-align: center;
}


// RULES for text-links are: 
// :active =    color:#2A2E45
//              font-weight: 900;
// :hover =     color:#2A2E45
//              font-weight: 900;
// :visited =   color:#2A2E45
//              font-weight: 900;


p:active {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2E45;
 font-size: 1rem;
 font-weight: 900;
}

p:hover {
 font-family: 'Roboto', Arial, sans-serif;
 color: #606060;
 font-size: 1rem;
 font-weight: 900;
}

p:visited {
 font-family: 'Roboto', Arial, sans-serif;
 color: #606060;
 font-size: 1rem;
 font-weight: 900;
}


///----------- BUTTONS -----------\\\


.btn-text {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2A2A;
 font-size: 1rem;
 font-weight: 500;
}

.btn-primary {
 background-color: #2A2E45;
 border-radius: 2px;
 font-family: 'Roboto', Arial, sans-serif;
 color: #FDFDFD;
 font-size: 1rem;
 font-weight: 400;
 line-height: 19px;
 text-align: center;
 margin-top: 10px;
 padding: 10px 20px;
}

.btn-primary:hover {
 background-color: #3F4358;
}

.btn-primary:visited {
 background-color: #2A2A2A;
}

.btn-outline {
 border: 1px solid #2A2E45;
 border-radius: 2px;
 border-width: 0px;
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2E45;
 font-size: 1rem;
 font-weight: 400;
 line-height: 19px;
 text-align: center;
 margin-top: 10px;
 padding: 10px 20px;
}

.btn-outline:hover {
 background-color: #f4f4f4;
}

.btn-outline:visited {
 background-color: #959595;
 color: #FDFDFD;
}

.btn-icon {
 width: 40px;
 height: 40px;
 padding: 5px;
 justify-content: center;
 align-items: center;
 background-color: #FDFDFD;
 border-radius: 2px;

 .svg {
  width: 30px;
  height: 30px;
  color: #2A2E45;
 }
}

.btn-icon:active {
 background-color: #f4f4f4;
}

.btn-icon:visited {
 background-color: #FDFDFD
}


///----------- TEXT INPUTS -----------\\\



.header--form {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2A2A;
 font-size: 1rem;
 font-weight: 500;
}

.input-label {
 font-family: 'Roboto', Arial, sans-serif;
 color: #2A2A2A;
 font-size: .9rem;
 font-weight: 500;
}

.input__text {
 font-family: 'Roboto', Arial, sans-serif;
 color: #606060;
 font-size: .9rem;
 font-weight: 400;
}


.input-label-sml__text {
 font-family: 'Roboto', Arial, sans-serif;
 color: #606060;
 font-size: .8rem;
 font-weight: 400;
}