.card-comment{
 display: flex;
 flex-direction: column;
 gap: 10px;
 background-color: #FDFDFD;
 padding: 20px 20px;
 border-bottom: 5px solid #f4f4f4;

 .card-comment__utility{
 display: flex;
 justify-content: flex-end;
 }

}