.listing-card__gird {
 display: grid;
 grid-template-columns: 1fr;
 grid-gap: 10px;
 margin-bottom: 80px;
}

.card--listing{

.card--listing__image{
  width: 100%;
  max-height: 360px;

}

.card--listing__details{
display: flex;
flex-direction: column;

.card--listing__header{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.card--listing__footer{
 display: flex;
 align-items: center;
 justify-content: space-between;

}
}
}

